@import "tailwindcss";

@theme {
  --font-inter: var(--font-inter);
  --font-work-sans: var(--font-work-sans);
  --font-sansation: var(--font-sansation);
}


body {
  @apply bg-zinc-200 text-neutral-900;
  /* Fallbacki fontów */
  font-family: var(--font-inter), ui-sans-serif, system-ui, -apple-system,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

@layer utilities {
  ul.key-font {
    font-family: var(--font-work-sans);
  }

  .font-sansation {
    font-family: var(--font-sansation);
  }
}