@import "tailwindcss";

@theme {
  --font-inter: var(--font-inter);
  --font-work-sans: var(--font-work-sans);
  --font-sansation: var(--font-sansation);
}


body {
  @apply bg-zinc-200 text-neutral-900;
  /* Fallbacki fontów */
  font-family: var(--font-inter), ui-sans-serif, system-ui, -apple-system,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

@layer utilities {
  ul.key-font {
    font-family: var(--font-work-sans);
  }

  .font-sansation {
    font-family: var(--font-sansation);
  }
}

@layer components {
  .btn-pirate {
    @apply relative inline-block px-4 py-2 font-semibold uppercase tracking-wide no-underline transition-colors duration-300;
    color: #0a0a0a; /* neutral-950 */
    border: 5px solid #0a0a0a;
    background-color: #e4e4e7; /* zinc-200 */
    z-index: 1;
  }

  .btn-pirate::before {
    content: '';
    position: absolute;
    top: 6px;
    left: -2px;
    width: calc(100% + 4px);
    height: calc(100% - 12px);
    background-color: #e4e4e7; /* zinc-200 - musi być takie jak tło sekcji */
    transition: 0.3s ease-in-out;
    transform: scaleY(1);
    z-index: -1;
  }

  .btn-pirate:hover::before {
    transform: scaleY(0);
  }

  .btn-pirate::after {
    content: '';
    position: absolute;
    left: 6px;
    top: -2px;
    height: calc(100% + 4px);
    width: calc(100% - 12px);
    background-color: #e4e4e7; /* zinc-200 */
    transition: 0.3s ease-in-out;
    transform: scaleX(1);
    transition-delay: 0.1s; /* skróciłem z 0.5s dla lepszego feelingu */
    z-index: -1;
  }

  .btn-pirate:hover::after {
    transform: scaleX(0);
  }
}